@use "../../abstracts/" as *;

.back-btn {
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 500;
    color: $light;
    text-transform: lowercase;
}

.back-btn.dark {
    color: $dark;
}
