@use "../../abstracts/" as *;

.button {
  color: $light;
  border: solid 0.1rem $light;
  border-radius: 5rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.8rem 1.6rem;
}

.button--back {
  font-size: 2rem;
  line-height: 2.6rem;
  text-transform: lowercase;
  border: none;
}

.button--big {
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 1rem 1.6rem;
}

.button--margin-left {
  margin: 1rem 0;
  margin-left: auto;
}

// dark styling for when background is light
.button.dark {
  color: $dark;
  border: solid 0.1rem $dark;
}

.button--back.dark {
  color: $dark;
  border: none;
}

.button.button--big.button--margin-left.dark {
  color: $dark;
  border: solid 0.1rem $dark;
}

