// LAYOUT MIXINS - Flex
@mixin flex ($alignItems, $justifyContent, $flexDirection) {
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
    flex-direction: $flexDirection;
}

// LAYOUT MIXINS - Grid
// @mixin gridColumn02($gapAmount) {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     gap: $gapAmount;
//     place-content: center;
// }


// @mixin gridColumn03($gapAmount) {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: $gapAmount;
//     place-content: center;
// }


@mixin gridColumn12($gapAmount) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $gapAmount;
}


