@use "./Variables.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;800;900&display=swap'); 

html {
    font-size: 62.5%;
}

body {
    font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3.9rem;
    line-height: 5.3rem;
    // font-size: 4.8rem;
    // line-height: 6.4rem;
    font-weight: 800;
}

h1.display {
    font-size: 9.6rem;
    line-height: 12.7rem;
    font-weight: 700;
    text-transform: lowercase;
    color: $light;
}

h2.display {
    font-size: 3.6rem;
    line-height: 4.8rem;
    font-weight: 600;
    color: $light;
}



p {
    font-size: 1.6rem;
    line-height: 2.1rem;
}


