@use "../abstracts/" as *;

.book-details {
  height: 80vh;
  width: 100%;
  padding: 6rem;
  color: $light;
  @include flex(flex-start, flex-start, column);

  &__header {
    width: 100%;
    padding-bottom: 2rem;
    border-bottom: solid 0.1rem $light;
    @include flex(center, space-between, row);
  }

  &__title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 2rem;
  }

  .button-wrapper {
    align-self: flex-end;
    @include flex(center, center, row);
    gap: 1rem;
  }

  &__body {
    width: 100%;
    flex: 1;
    @include flex(center, center, column);

    .post {
      width: 65vw;
      max-height: 75%;
      overflow-y: scroll;
      mask-image: linear-gradient(
        to bottom,
        $light calc(100% - 4.8rem),
        transparent 100%
      );

      &-title {
        width: 100%;
        text-align: left;
        text-transform: uppercase;
        padding-bottom: 2rem;
      }

      &-description {
        padding-bottom: 10rem;
      }
    }
  }

  &__footer {
    width: 100%;
    border-top: solid 0.1rem $light;
    padding-top: 2rem;
    @include flex(center, space-between, row);
  }

  &__date {
    text-transform: capitalize;
  }
}


// dark styling for light background;
.book-details.dark {
    color: $dark;

    .book-details__header {
        border-bottom: $dark solid 0.1rem;
    }

    .book-details__footer {
        border-top: $dark solid 0.1rem;
    }
}