@use "../abstracts/" as *;

.landing-page {
  background-color: $main-blue;
  height: 100vh;
  @include flex(center, center, column);
  padding: 7.5rem;

  &__header {
    text-align: center;
    flex: 1;
    
    @include flex(center, center, column);

    .logo {
      font-size: 12.7rem;
      line-height: 14rem;
      color: $light;
      font-weight: 800;
    }
  }

  &__subtext {
    font-size: 1.2rem;
    color: $light;
  }
}

.link {
    text-decoration: none;
}